/* ******************************* BASE STYLES ****************************** */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  @media #{$break-l} {
    background-position: right 1000px bottom 300px, left 950px bottom -600px;
    background-size: 60%, 60%;
  }
  background-color: $background_col;
  font: 400 1em/1.5 'Kumbh Sans', sans-serif;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-position: right 180px top -400px, left 170px bottom -380px;
  background-repeat: no-repeat;
  background-size: cover;
}
